/bin/
.DS_Store
In28Minutes/.DS_Store
In28Minutes/eclipse-workspace/.DS_Store
In28Minutes/eclipse-workspace/java-for-beginners/loops/.classpath
In28Minutes/eclipse-workspace/java-for-beginners/loops/.project
In28Minutes/eclipse-workspace/java-for-beginners/loops/.settings/org.eclipse.core.resources.prefs
In28Minutes/eclipse-workspace/java-for-beginners/loops/.settings/org.eclipse.jdt.core.prefs